@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
	margin:0; 
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
	list-style:none;

}
body{
	margin:0;
}
a{
	text-decoration:none;
	color:white;
	}
.container{
	max-width:1140px;
	margin:auto;
}

/*header*/	

.header{
	width:100%;
	height:100vh;
	background-color:#1a52f9;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 64%);
	position:relative;
}

nav{
	width:100%;
	height:15vh;
	display:flex;
	justify-content: space-around;
	align-item:center;
	position:absolute;
	padding-top:25px;
}
.logo{
	color:white;
	text-decoration:none;
	font-size:1.6rem;
	font-weight:bold;
	text-transform:uppercase;
}
.header .menu ul li{
	list-style:none;
	display:inline-block;
	padding:0 15px;
}
.header .menu ul li a{
	text-transform:capitalize;	
}

.header .menu .active, ul li:hover{
	border-top:2px solid #5dade2;
	border-bottom:2px solid #5dade2;	
}
.header_content{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.header_content h1{
	color:#fff;
	font-size:50px;
	text-transform:capitalize;
	font-weight:500;
	margin-bottom:10px;
}
.grid_sec{
	width:300px;
	height:200px;
	position:absolute;
	left:64%;
	top:-60;
}

/*About me*/
.row{
	display:flex;
	flex-wrap:wrap;
} 
.about-me{
	padding:100px;
	background-color:#ffffff;
}

.about-me .section-title,
.experience .section-title,
.education .section-title,
.skills-info .section-title{
	flex: 0 0 100%;
	max-width:100%;
	margin-bottom:35px;
}
.about-me .section-title h1,
.experience .section-title h1,
.education .section-title h1,
.skills-info .section-title h1,
.reserch-topic .section-title h1 {
	font-size:35px;
	display:inline-block;
	text-transform:uppercase;
	font-weight:700;
	color:#41295a;
	margin:0 0 10px;
	position:relative;
	
}
.about-me .section-title h1:before,
.education .section-title h1:before,
.experience .section-title h1:before, 
.skills-info .section-title h1:before,
.reserch-topic .section-title h1:before{
	content:'';
	left:0;
	right:30%;
	height:2px;
	background-color:#00c3ff;
	bottom:0px;
	position:absolute;
	
	
}
.about-me .section-title p.small{
	display:block;
	font-size:14px;
	color:#838383;
	font-weight:400;
	letter-spacing:2px;
}
.text-uppercase{
	text-transform:uppercase!important;
}
.about-me .about-content .img{
	flex:0 0 28%;
	max-width:28%;
}

.about-me .about-content .img img{
	width:100%;
	display:block;
	
}
.about-me .about-content .text{
	flex:0 0 72%;
	max-width:72%;
	padding-left:30px;
	
}
.about-me .about-content .text h4{
	font-size:25px;
	font-weight:600;
	margin:0 0 20px;
	color:#41295a;
}
.about-me .about-content .text p{
	font-size:15px;
	font-weight:400;
	line-height:24px;
	margin:0 0 5px;
	color:#838383;
	text-align:justify;
	
}
.about-me .about-content .text .info{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	
}
.about-me .about-content .text .info .list{
	
	flex:0 0 calc(50%-5px);
	max-width:calc(50%-5px);
	margin-top:7px;
	border-bottom: 1px solid #41295a;
	padding-bottom: 5px;
}
.about-me .about-content .text .info .list p{
	margin:0;
}
.about-me .about-content .text .info .list label{
	padding-right:10px;
	color:#000000;
	font-weight:600;
}

.about-me .about-content .text .social-network{
	padding-top:20px;
		
}
.about-me .about-content .text .social-network .fa_icon{
	background-color:#41295a;
	height:30px;
	width:30px;
	border-radius:3px;
	display:inline-block;
	line-height:28px;
	text-align:center;
	margin:0 1px;
	font-size:20px
}
.about-me .about-content .text .social-network .fa_icon i{
	position:relative;
	top:50%;
	left:30%;
	transform:translate(-50%,-50%);
	color:#ffffff;
}
.fa_icon:nth-child(even){
	margin:0 20px;
}

.fa_icon:hover{
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 64%)
}

/*hobbies*/
.hobbies{
	background:#41295a;
}

.hobbies .container .hobbies-type .hobby-name{
	position:relative;
	padding:50px;
	display:inline-block;
}
.hobbies .container .hobbies-type .hobby-name h4{
	text-align:center;
	color:#fff;
}
.hobbies .section-title h1 {
	font-size:35px;
	display:inline-block;
	text-transform:uppercase;
	font-weight:700;
	color:#fff;
	position:relative;
	padding-left:450px;
	
}

/*experience and education*/
.education{
	padding:100px;
	background-color:#f2e6ff;
}
.experience{
	padding:100px;
	background-color:#ffffff;
}
.education .resume-education ul,
.experience .resume-experience ul{
	padding-left:30%;
	overflow:hidden;
	
}
.education .resume-education ul li,
.experience .resume-experience ul li
{
	position:relative;
	list-style:none;
	display:block;
	padding:0 15px;
}
.education .resume-education ul li:hover,
.experience .resume-experience ul li:hover{
	border-top:0;
	border-bottom:0;	

}
	

.education .resume-education ul li .date,
.experience .resume-experience ul li .date{
	font-size:20px;
	font-weight:700;
	margin-bottom:15px;
	
}

.education .resume-education ul li .info,
.experience .resume-experience ul li .info{
	margin-bottom:20px;
}

.education .resume-education .info .semi-bol,
.experience .resume-experience .info .semi-bol{
	font-weight:18px;
	font-weight:600;
}
.education .resume-education .info .font,.experience .resume-experience .info .font{
	font-weight:16px;
	font-weight:600;
	color:#838383;
}
.education .resume-education ul li:last-child .info,
.experience .resume-experience ul li:last-child .info{
	margin-bottom:0px;
}
.education .resume-education ul li:before,
.experience .resume-experience ul li:before{
	content:"";
	position:absolute;
	top:0px;
	left:-25;
	width:6px;
	height:6px;
	border-radius:50%;
	border:2px solid #0bb5f4;	
}

.education .resume-education ul li:after,
.experience .resume-experience ul li:after{
	content:"";
	position:absolute;
	top:5px;
	left:-21px;
	width:2px;
	height:150px;
	background:	#0bb5f4;
}

/*Skills*/
.skills-info{
	padding:100px;
	background-color:#f2e6ff;
}
.skills-info .resume-skills{
	width:500px;
	margin:60px auto;
	
}
.skills-info .resume-skills  li{
	margin:20px 0;
}

.bar{
	background:#00c3ff  ;
	display:block;
	height:2px;
	border: 1px solid rgba(0,0,0,0,3);
	border-radius:3px;
	overflow:hidden;
	box-shadow:0 0 10px #41295a;
}
.bar span{
	height:2px;
	float:left;
	background:#2187e7;
}
.html{
	width:90%;
	animation:html 2s;
}
.css{
	width:80%;
	animation:css 2s;
}
.jscript{
	width:50%;
	animation:jscript 2s;
}
.java{
	width:70%;
	animation:java 2s;
}
.c{
	width:50%;
	animation:c 2s;
}
@keyframes  html{
	0%{
		width:0%;
	}
	100%{
		width:90%;
	}
}
@keyframes  css{
	0%{
		width:0%;
	}
	100%{
		width:80%;
	}
}
@keyframes  jscript{
	0%{
		width:0%;
	}
	100%{
		width:50%;
	}
}
@keyframes  java{
	0%{
		width:0%;
	}
	100%{
		width:90%;	
}
}

/*Researches*/

.reserch-topic{
	background:#ffffff;
	margin:0;
	padding:30px;
	display:flex;
	justify-content:center;
	align-item:center;
	min-height:100vh;
}
.reserch-topic .container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.reserch-topic .container .research{
	position:relative;
	width:350px;
	padding:40px;
	background:#fff;
	box-shadow:0 5px 15px rgba(0,0,0,.1);
	border-radius:4px;
	margin:20px;
	margin-top:100px;
	box-sizing:border-box;
	overflow:hidden;
}
.reserch-topic .container .research .content{
	position:relative;
	z-index:1;
	transition:0.5s;
}
.reserch-topic .container .research:hover{
	background:#674a7d;
}

.reserch-topic .container .research .content h3{
	font-size:20px;
	margin:10px 0;
	padding:0;
	color:#41295a;
}
.reserch-topic .container .research:hover .content h3{
	color:#fff;
}
.reserch-topic .container .research .content p{
	margin:0;
	padding:0;
	color:#41295a;
}
.reserch-topic .container .research:hover .content p{
	color:#fff;
}
.reserch-topic .container .research .content a{
	display:inline-block;
	padding:10px 20px;
	background:#41295a;
	border-radius:4px;
	text-decoration:none;
	color:#fff;
	font-weight:500;
	margin-top:20px;
	box-shadow:0 2px 5px rgba(0,0,0,.2);
}
.reserch-topic .container .research:hover .content a{
	color:#41295a;
	background:#fff;
}
/*contact me*/
.contact-me{
	background:#f2e6ff;
	padding:20px;
}
.contact-me h1{
	color:#41295a;
	padding-left:50px;
	padding-bottom:30px;
	font-size:35px;
	text-align:center;
}
.contact-me h1:before{
	content:'';
	left:0;
	right:30%;
	height:2px;
	background-color:#00c3ff;
	bottom:0px;
	position:absolute;
}
.contact-me .container{
	width:80%;
	margin:50px auto;	
}
.contact-box{
	background:#fff;
	display:flex;
	box-shadow:0 5px 15px rgba(0,0,0,.1);
}
.contact-left{
	flex-basis:60%;
	padding:40px 60px;
}
.contact-right{
	flex-basis:40%;
	padding:40px;
	background:#41295a;
	color:#fff; 
}
.contact-left h3{
	color:#41295a;
	font-weight:600;
	margin-bottom:30px; 
}
.contact-right h3{
	font-weight:600;
	margin-bottom:30px; 
}
.input-row{
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}
.input-row .input-group{
	flex-basis:45%;
	
}
input{
	width:100%;
	border:none;
	border-bottom:1px solid #ccc;
	outline:none;
	padding-bottom:5px;
}
textarea{
	width:100%;
	border:1px solid #ccc;
	outline:none;
	padding:10px;
	box-sizing:border-box;
}
label{
	margin-bottom:6px;
	display:block;
	color:#41295a;
}
button{
	background:#41295a;
	width:100%;
	border:none;
	outline:none;
	color:#fff; 
	height:35px;
	border-radius:30px;
	margin-top:20px;
}

/*contact*/
.contact{
	background:#f2e6ff;
	margin:0px;
	padding:0;
}
.contact .container{
	position:relative;
	margin:30px auto;
	padding-left:100px;
}
.container .box{
	position:relative;
	width:calc(300px - 30px);
	height:calc(250px - 30px);
	background:#41295a;
	float:left;
	margin:15px;
	box-sizing:border-box;
	overflow:hidden;
	border-radius:10px;
	box-shadow:0 5px 15px rgba(0,0,0,.1);
	
}
.container .box .icon{
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	transition:0.5s;
	z-index:1;
}
.container .box:hover .icon{
	top:20px;
	margin-left:90px;
	left:calc(50%-40px);
	width:80px;
	height:80px;
	border-radius:50%;
}
.container .box .icon .fa{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:80px;
	transition:0.5s;
	color:#41295a;
	
}
.container .box:hover .icon .fa{
	font-size:40px;
}
.container .box .content{
	position:absolute;
	top:100%;
	height:calc(100%-100px);
	text-align:center;
	padding:20px;
	box-sizing:border-box;
	transition:0.5s;
	opacity:0;
}
.container .box .content h3{
	margin:0;
	padding:0;
	color:#fff;
	font-size:18px;
	text-align:center;
}
.container .box .content p{
	margin:0;
	padding:0;
	color:#fff;
	font-size:14px;
	justify-content:center;
}
.container .box:hover .content{
	top:100px;
	opacity:1;
}
.copyright{
	display:inline-block;
	margin-bottom:30px;
	margin-left:40%;
}